$font-primary: Inter, sans-serif;
$font-secondary: 'Circular Std', sans-serif;

$bg-light: #fafbfd;
$bg-white: #ffffff;
$bg-dark-gray: #9b98ac;

$bg-loading: #f0f0f0;
$bg-loading-layer: #e5e5e5;

$color-border: #ededed;

$color-dark: #2c2a38;
$color-light: #fff;
$color-medium: #9b98ac;
$color-green: #37b786;
$color-purple: #AC41D1;
$color-blue: #4451ee;
$color-red: #e94949;

$font-light: #ffffff;
$font-dark: #2c2a38;

// transition
$transition-all: all 0.15s ease-in;
$transition-color: color 0.15s ease-in;
$transition-opacity: opacity 0.15s ease-in;
